<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <h3>Добавить посылку</h3>
        <label for="name_package">Название Посылка</label><br>
        <input type = "text" id="name_package" name = "name_package"><br>

        <label for ="dep_city">Город Отправление</label><br>
        <input type = "text" id="dep_city" name="dep_city"><br>

        <label for="status">Статус</label><br>
        <input type = "text" id="status" name="status"><br><br>

        <input type="submit" value="Добавить в базу данных">
    </form>
</body>
</html>