<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hamaxi Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <header>
        <h1>Hamaxi Post</h1>
    </header>
    <main>
        <div class="button-container">
            <a href="{{ url_for('login') }}" class="button">Войти</a>
            <a href="{{ url_for('register') }}" class="button">Зарегистрироваться</a>
        </div>
    </main>
    <footer>
        <p>Yehor Diriavka (EgorStalker). Усі права збережені</p>
    </footer>
</body>
</html>

