<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_main.css') }}">
</head>
<body>
    <div class="container">
        <h1>Package Manager</h1>
        <div class="buttons">
            <a href="{{ url_for('add_package') }}" class="btn">Додати посилку</a>
            <a href="{{ url_for('show_update_package') }}" class="btn">Оновити посилку</a>
        </div>
    </div>
</body>
</html>
