<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обновить статус посылки</title>
</head>
<body>
      <script src="index.js"></script>
    <h1>Обновление статуса посылки</h1>

    <form onsubmit="event.preventDefault(); updateStatus();">
        <label for="packageId">ID посылки:</label>
        <input type="number" id="packageId" required><br><br>

        <label for="newStatus">Новый статус:</label>
        <input type="text" id="newStatus" required><br><br>

        <button type="submit">Обновить</button>
    </form>

    <p id="result"></p>

    <script>
        
    </script>
</body>
</html>
